# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# JWT Access Token
JWT_ACCESS_SECRET=your-access-token-secret
JWT_ACCESS_EXPIRATION=15m

# JWT Refresh Token
JWT_REFRESH_SECRET=your-refresh-token-secret
JWT_REFRESH_EXPIRATION=7d

# Argon2 Secret Pepper (Argon2 secret key)
PASSWORD_HASH_SECRET=your-password-hash-secret-pepper

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_DEFAULT_FOLDER=uploads
